<ul [@drop] class="heroes">
  <li [@fade] *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button (click)="delete(hero)" class="delete" title="delete hero">
      x
    </button>
  </li>
</ul>
<app-loader></app-loader>
<div>
  <label> Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
